<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="static/abacus.png" type="image/png"> <!--Icon from Twemoji-->
  
  <title>Play | PyMath</title>
</head>

<body class="bg-dark text-light text-center">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <h1 class="ms-2">PyMath - {{ current_question_index + 1 }}/{{ totalquestions }}</h1>

  <form method="POST" class="ms-2 form-group">
    <p>{{ problem }}</p>
    
    {% if 'What is the quotient and remainder' in problem %}
      <!-- Input for division problems (quotient and remainder) -->
      <label for="quotient">Quotient:</label>
      <input type="number" name="quotient" class="form-control" required>
      
      <label for="remainder">Remainder:</label>
      <input type="number" name="remainder" class="form-control" required>
      
    {% else %}
      <!-- Input for other problems (addition, subtraction, multiplication) -->
      <label for="answer">Answer:</label>
      <input type="number" name="answer" class="form-control" required>
    {% endif %}
    
    <br>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>

</body>
</html>
